#page-create-qr {
    text-align: center;
  }
  
  #page-create-qr header {
    background-color: #282c34;
    display: flex;
    flex-direction: row;
    align-items:center;
    justify-content: space-evenly;
    font-size: calc(10px + 2vmin);
    color: white;
    margin-top: 48px;
  }
  
  #page-create-qr form {
    margin: 10px auto;
    padding: 50px;
    max-width: 1000px;
    border-radius: 8px;
  
    display: flex;
    flex-direction: column;
  }
  
  #page-create-qr form h1 {
    font-size: 36px;
  }
  
  #page-create-qr form fieldset {
    margin-top: 20px;
    min-inline-size: auto;
    border: 0;
  }
  
  #page-create-qr form legend {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 40px;
  }
  
  #page-create-qr form legend h2 {
    font-size: 24px;
  }
  
  #page-create-qr form legend span {
    font-size: 14px;
    font-weight: normal;
    color: var(--text-color);
  }
  
  #page-create-qr form .field-group {
    flex: 1;
    display: flex;
  }
  
  #page-create-qr form .field {
    flex: 1;
  
    display: flex;
    flex-direction: column;
    margin-bottom: 24px;
  }
  
  #page-create-qr form .field input[type=text],
  #page-create-qr form .field input[type=email],
  #page-create-qr form .field input[type=number] {
    flex: 1;
    background: #F0F0F5;
    border-radius: 8px;
    border: 0;
    padding: 16px 24px;
    font-size: 16px;
    color: #6C6C80;
  }
  
  #page-create-qr form button {
    width: 260px;
    height: 56px;
    background-color: cornflowerblue;
    border-radius: 8px;
    color: #FFF;
    font-weight: bold;
    font-size: 16px;
    border: 0;
    align-self: flex-end;
    margin-top: 40px;
    transition: background-color 0.2s;
    cursor: pointer;
  }
  
  #page-create-qr form button:hover {
    background: salmon;
  }
  
  .items-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 16px;
    list-style: none;
  }
  
  .items-grid li {
    background: sandybrown;
    border-radius: 8px;
    padding: 32px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
  }
  
  .items-grid li span {
    flex: 1;
    align-items: center;
    color: white;
    font-weight: bold;
    font-size: 20pt ;
  }


